<!DOCTYPE html>
<html>
<head>
    <%-partial('partials/head')%>
    <%-blocks.head%>
</head>
<body>
<header>
    <%-partial('partials/header')%>
    <%-blocks.header%>
</header>
<section class="container">
 
 
    <h1><%=blocks.title%></h1>
 
    <%-body -%>
</section>
<footer>
    <%-partial('partials/footer')%>
    <%-blocks.footer%>
</footer>
</body>
</html>